 [Unit]
 Description=My RC Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /home/pi/rccontrol/control.py

 [Install]
 WantedBy=multi-user.target
